<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>To Do</title>
</head>

<body>
    <div id="app">
        <div class="jumbotron" id="jumbotron">
            <h1 >To Do List</h1>
        </div>

        <div class="container">
            <div v-if="error" style="color: red">{{error}}</div>

            <table id="table" v-if="items.length" class="table table-responsive-sm">
                <thead>
                    <th>Id</th>
                    <th v-on:click="SortByName()">Description</th>
                    <th>Actions</th>
                </thead>
                <tr v-for="item in items" :class="{ 'strikethrough': item.checked }">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>
                        <img src="images/delete.png" v-on:click="DeleteItem(item.id)" alt="delete-item" id="delete-img">
                        <input type="checkbox" id="checkbox" v-model="item.checked" class="checkbox">
                        <img src="images/edit-tool.png" alt="edit" id="edit" v-on:click="openPopup(item.id)">
                        <div id="updatePopup" class="popup" v-if="popupVisible">
                            <div class="popup-content">
                                <span id="xToClose" class="close" v-on:click="closePopup()">&times;</span>
                                <h2 id="popup-header">Update</h2>
                                <span id="bold">Current task is : </span><span>{{nameUpdate}}</span>
                                <input type="text" v-model="updatedName" id="updateName" placeholder="Describe your task.." class="form-control" @keyup.enter="UpdateItem(updatedName)">
                                <button id="saveUpdateButton" class="btn btn-success" v-on:click="UpdateItem(updatedName)">Save</button>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><input v-model="name" type="text" placeholder="Name" id="name" class="form-control" @keyup.enter="AddItem(name)"></td>
                    <td><button id="addButton" class="btn btn bg-success"
                            v-on:click="AddItem(name)">Add
                            Item</button></td>
                </tr>
            </table>
            <div v-else style="font-style: italic">No such item</div>
        </div>



        

    </div>
    <script src="index.js"></script>
</body>

</html>
