#jumbotron {
    text-align: center;
    background-color: rgb(198, 218, 234);
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
}

#addButton {
    color: white;
}

button {
    width: 100px;
}

#name{
    width: 100%;
}

#delete-img {
    width: 15px;
    cursor: pointer;
    padding-bottom: 5px;
}

#edit {
    width: 20px;
    cursor: pointer;
}

#checkbox {
    margin: 15px;
}

.strikethrough {
    text-decoration: line-through;
}


/*MODAL*/
.popup {
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.popup-content {
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    /* Could be more or less, depending on screen size */
}

.popup-content #xToClose{
    align-self: flex-end;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


#saveUpdateButton {
    align-self: flex-end;
    margin-top: 15px;
}

#popup-header {
    text-align: center;
}

#bold {
    font-weight: bold;
}

#updateName{
    margin-top: 10px;
}
