.jumbotron{
    text-align: center;
    background-color:rgb(198, 218, 234);
}
h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:50px;
}

#addButton{
    color: white;
}

button{
    width: 100px;
}